.flex_container {
  display: flex;
  flex-wrap: wrap;
}

.description_price {
  justify-content: space-around;
}

.description {
  align-items: flex-start;
  gap: 2rem;
}

.description > img {
  width: 10rem;
}

.w_40 {
  width: 40vw;
}

.text_justify {
  text-align: justify;
}

.mt_1_25 {
  margin-top: 1.25rem;
}

.mt_2 {
  margin-top: 2rem;
}

.historical {
  position: relative; 
  height:15rem; 
  width:50vw;
  margin: auto;
}