body {
  margin: 0px;
  background-color: #EFEFEF;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0px;
}

nav {
  height: 3rem;
  background-color: #FFFFFF;
}

.flex_container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.main {
  padding: 5rem;
  justify-content: space-evenly;
  font-family: 'Ubuntu', sans-serif;
  font-size: xx-large;
  align-items: center;
}

.main > img {
  width: 40%;
}

.trending_coin {
  background-color: #CAF0F8;
  padding: 2rem;
  justify-content: space-evenly;
  font-family: 'Nunito', sans-serif;
}

.trending_coin > .card {
  padding: 0.5rem 2rem;
}

.float-left {
  float: left;
}

.ml_1 {
  margin-left: 1rem;
}

.float-right {
  float: right;
}


.features {
  padding: 2rem;
  background-color: #ADE8F4;
  justify-content: space-around;
  font-family: 'Nunito', sans-serif;
}

.features > .card {
  text-align: center;
  padding: 1rem;
  width: 25vw;
}

.card {
  padding: 0.5rem;
  border-radius: 5px;
  background-color: white;
}

footer {
  text-align: center;
  padding: 1rem;
  font-family: 'Nunito', sans-serif;
}

footer > h3 {
  padding-top: 0.5rem;
}